# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.3ddialogue rendu.iml
# Datasource local storage ignored files
/../../../../../../../:\github\3Ddialoguue_rendu\3ddialogue rendu\.idea\.idea.3ddialogue rendu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
